<form ng-submit="submit()">
    <label for="username">Username:</label>
    <input type="text" ng-model="form.username" id="username" placeholder="Username">

    <label for="firstName">First Name:</label>
    <input type="text" ng-model="form.firstName" id="firstName" placeholder="First Name">

    <label for="lastName">Last Name:</label>
    <input type="text" ng-model="form.lastName" id="lastName" placeholder="Last Name">

    <label for="password">Password:</label>
    <input type="password" ng-model="form.password" id="password" placeholder="Password">

    <label for="confirm">Confirm Password:</label>
    <input type="password" ng-model="form.confirm" id="confirm" placeholder="Confirm Password">

    <input type="submit" value="Submit">
</form>
